body{
	background:#e2e2e2!important;
}
#left
{
	margin-left:auto;
}
.bg{
	 background:red;
	 
}
.banner{
	
	color:white;
	width:100%;
	height:93vh;
	background:linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),url(../img/banner.jpg);
	background-size:cover;
	
}
.myform{
	padding:20px;
	background:#ffffff;
}
.user_card {
			height: 400px;
			width: 350px;
			margin-top: 100px;
			margin-bottom: auto;
			background: #f39c12;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}
.brand_logo_container {
			position: absolute;
			height: 170px;
			width: 170px;
			top: -75px;
			border-radius: 50%;
			background: #60a3bc;
			padding: 10px;
			text-align: center;
		}
.brand_logo {
			height: 150px;
			width: 150px;
			border-radius: 50%;
			border: 2px solid white;
		}
.form_container {
			margin-top: 100px;
		}
.login_btn {
			width: 100%;
			background: #c0392b !important;
			color: white !important;
		}
.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
.login_container {
			padding: 0 2rem;
		}
.input-group-text {
			background: #c0392b !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
.input_user,.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
			background-color: #c0392b !important;
		}
		
/*side bar*/

@media only screen and(max-width:600px)
{
	.sidebar{
	display:none;
	width:80%!important;
	background:white;
	height:100vh;
	position:fixed;
	padding-top:20px;
	
	}
	
			
.content{
	
	margin-left:0%!important;
	
}
}

.sidebar{
	
	width:18%;
	background:white;
	height:100vh;
	position:fixed;
	padding-top:45px;
	z-index: 999999999999999;
	
}
.sidebar a{
	 text-decoration:none;
	 display:block;
	 padding: 10px 25px;
	 width:100%;
	 color:gray;	
}
.sidebar a:hover{
	
	background:red;
	color:white;
}
.sidebar .divider{
	
	height:.5px;
	width:100%;
	background:#e2e2e2;
}

.sidebar .crossBtn{
	
	position:absolute;
	top:0;
	right:35px;
	font-size:36px;
	cursor:pointer;
}

/* Content */
		
.content{
	
	margin-left:20%
	
}
#alignment{
	
	margin-right:3%;
	
}
.contact_image{
	
	height:35px;
	width:35px;
	border-radius:50%;
	object-fit:cover;
}
.view-image{
	
	height:200px;
	width:200px;
	border-radius:50%;
	object-fit:cover;
}
/*Search bar*/
.search-container{
	
	position:relative;
	
}
.search-result{
	
	position:absolute;
	background:white;
	width:97%;
	padding:10px;
	border:1px solid gray;
	display:none;
	
}

/* sidebar active  */

.active{
	
	background:red!important;
	color:white!important;
}

