 <!doctype html>
<html lang="en"xmlns:th="http://www.thymeLeaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title >home</title>
</head>
<body>
<section>
<div class="container h-100">
	<!-- <div th:if="${param.error}" class="alert alert-danger">
				<center>Invalid User Name or Password</center>
				</div>
				<div th:if="${param.logout}" class="alert alert-success">
				 <center>You Have Been Successfully Logged out</center>
				</div> -->
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="https://cdn.freebiesupply.com/logos/large/2x/pinterest-circle-logo-png-transparent.png" class="brand_logo" alt="Logo">
					</div>
				</div>
				<div class="d-flex justify-content-center form_container">
				
				       <!-- forgot_password_form -->
				       
				       <form method="post" th:action="@{/confirm_otp}">
				       
				       	<div class="form-container">
				       	
				       	<input required name="confirmEmail" type="email" placeholder="Enter you registered Email" class="form-control"/>
				       	
				       	</div>
				       	
				       	<div class="text-center m-3">
				       	
				       	<button class="btn btn-warning">Send OTP</button>
				       	
				       	</div>
				       
				       </form>
				       
				       
				       
				</div>
			</div>
		</div>
	</div>
</section>
	
</body>
</html>